<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>

  <GridLayout columns="50, *">

    <Label
      class="fas"
      text="&#xf0c9;"
      (tap)="onDrawerButtonTap()">
    </Label>

    <Label
      class="action-bar-title"
      text="Inicio"
      col="1">
    </Label>

  </GridLayout>
</ActionBar>

<StackLayout padding="20">

  <Label
    text="Leer ahora"
    class="h1">
  </Label>

  <ListView [items]="readings$ | async">

    <ng-template let-item="item">

      <Label
        [text]="item.name"
        padding="10">
      </Label>

    </ng-template>

  </ListView>

</StackLayout>